services:
    Onisep\IbexaImageMapBundle\FieldType\ImageMap\Type:
        arguments:
            - [ '@Ibexa\Core\FieldType\Validator\FileExtensionBlackListValidator', '@Ibexa\Core\FieldType\Validator\ImageValidator' ]
        parent: Ibexa\Core\FieldType\FieldType
        tags:
            - { name: ibexa.field_type, alias: imagemap }

    Onisep\IbexaImageMapBundle\FieldType\ImageMap\Storage:
        arguments:
            $gateway: '@Ibexa\Core\FieldType\Image\ImageStorage\Gateway\DoctrineStorage'
            $ioService: '@Ibexa\Core\FieldType\Image\IO\Legacy'
            $pathGenerator: '@Ibexa\Core\FieldType\Image\PathGenerator\LegacyPathGenerator'
            $imageSizeMetadataHandler: '@Ibexa\Core\IO\MetadataHandler\ImageSize'
            $aliasCleaner: '@Ibexa\Core\FieldType\Image\AliasCleanerInterface'
            $filePathNormalizer: '@Ibexa\Core\IO\FilePathNormalizerInterface'
            $imageMapGateway: '@Onisep\IbexaImageMapBundle\FieldType\ImageMap\ImageMapStorage\Gateway\LegacyStorage'
        tags:
            - { name: ibexa.field_type.storage.external.handler, alias: imagemap }

    Onisep\IbexaImageMapBundle\FieldType\ImageMap\FieldValueConverter:
        arguments:
            - '@ibexa.field_type.ezimage.io'
            - '@Ibexa\Core\IO\UrlRedecorator'
        tags:
            - { name: ibexa.field_type.storage.legacy.converter, alias: imagemap, lazy: true, callback: '::create' }

    Onisep\IbexaImageMapBundle\FieldType\ImageMap\ImageMapStorage\Gateway\LegacyStorage:
        arguments: [ '@Onisep\IbexaImageMapBundle\Database\ImageMapRepository' ]
        tags:
            - { name: ibexa.field_type.storage.external.handler.gateway, alias: imagemap, identifier: LegacyStorage }

    Onisep\IbexaImageMapBundle\Database\ImageMapRepository:
        arguments: [ '@ibexa.persistence.connection' ]

    Onisep\IbexaImageMapBundle\Twig\ImageMapExtension:
        tags: [ 'twig.extension' ]

    Onisep\IbexaImageMapBundle\Twig\ImageMapRuntime:
        arguments:
            $locationService: '@Ibexa\Contracts\Core\Repository\LocationService'
            $contentService: '@Ibexa\Contracts\Core\Repository\ContentService'
        tags: [ 'twig.runtime' ]

    Onisep\IbexaImageMapBundle\Form\LinkType:
        arguments:
            $contentService: '@Ibexa\Contracts\Core\Repository\ContentService'
        tags: [ 'form.type' ]

    Onisep\IbexaImageMapBundle\Form\MapAreaType:
        tags: [ 'form.type' ]

    Onisep\IbexaImageMapBundle\Form\MapAreasType:
        tags: [ 'form.type' ]

    Onisep\IbexaImageMapBundle\Form\ImageMapType:
        tags: [ 'form.type' ]

    Onisep\IbexaImageMapBundle\FormMapper\ImageMapFormMapper:
        arguments:
            $contentTypeService: '@Ibexa\Contracts\Core\Repository\ContentTypeService'
            $locationService: '@Ibexa\Contracts\Core\Repository\LocationService'
            $fieldTypeService: '@Ibexa\Contracts\Core\Repository\FieldTypeService'
        tags:
            - { name: ibexa.field_type.form_mapper.definition, fieldType: imagemap }
            - { name: ibexa.field_type.form_mapper.value, fieldType: imagemap }

    Onisep\IbexaImageMapBundle\Command\SchemaCommand:
        arguments:
            $connection: '@ibexa.persistence.connection'
        tags: [ 'console.command' ]

    onisep.imagemap.unindexed:
        class: Ibexa\Core\FieldType\Unindexed
        tags:
            - { name: ibexa.field_type.indexable, alias: imagemap }
