.imagemap__popins__item {
  position: fixed;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;

  &-open {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
  }
  &__bg {
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
  }
  &__container {
    border-radius: 10px;
    background: #fff;
    position: relative;
    padding: 30px;
    width: 50%;
  }
  &__close {
    position: absolute;
    right: 15px;
    top: 15px;
    outline: none;
    appearance: none;
    color: red;
    background: none;
    border: 0;
    font-weight: bold;
    cursor: pointer;
  }
}
