.imagemap-area {
  border-radius: 0.25rem;
  border: 2px dashed #dbdbdb;
  padding: 1rem;
  position: relative;

  .imagemap-handle {
    transform: rotate(45deg);
    cursor: grabbing;
    width: 25px;
    height: 25px;
    margin-right: 10px
  }

  .imagemap-area-buttons {
    padding-right: 0;
  }

  .imagemap-popin {
    background: white;
    border: 1px solid black;

    svg {
      fill: #ae1164;
      width: 40px;
      height: 40px;
    }

    a:focus {
      outline: none;
    }
  }
}

.imagemap-go-up {
  height: 0;
  position: sticky;
  top: 10px;
  margin-left: -60px;

  svg {
    width: 50px;
    height: 50px;
    fill: #ae1164;
  }
}

.imagemap-shape {
  cursor: pointer;
}

.imagemap-edit {
  .ibexa-field-edit--with-preview .ibexa-field-edit-preview__visual {
    grid-template-columns: 100% auto;
    grid-template-rows: 40.125rem auto;

    .ibexa-field-edit-preview__details {
      display: none;
    }

    .ibexa-field-edit-preview__media {
      max-height: 40rem;
    }
  }
}

.imagemap-areas {
  margin: 1rem 0 1rem 2.5rem;
}

.imagemap-add {
  margin-left: 2.5rem;
}

.imagemap-draw-buttons {
  margin-bottom: 1rem;
}
